**/node_modules/
**/bin/
**/obj/
**/dist/
**/.svelte-kit/
**/.angular/
**/TestResults/
/artifacts/
/.cache/
.DS_Store
/.direnv/
**/.packages/
**/artifacts/
**/coverage/
**/Frontend/build/
**/.direnv/
*.binlog
*.trx
*.nupkg
*.snupkg
**/.nuget/
